{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% include 'app_header.html.twig' %}

    <div id="login-container" style="margin-top:10%;">
        <form id="login-formular" action="/login" method="POST">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="card center-align mg">
                        <div class="card-content">
                            <span class="card-title">Connexion</span>
                            <div class="input-field">
                                <input id="email" value="{{ last_typed_email }}" name="emailAddress" type="email" minlength="5" maxlength="128" class="validate" placeholder="Votre Email" required />
                            </div>
                            <div class="input-field">
                                <input id="password" name="password" type="password" minlength="8" maxlength="50" class="validate" placeholder="Votre mot de passe" required />
                            </div>
                            <button id="login-button" class="btn waves-effect waves-light"  type="submit">Se connecter</button>
                            <a class="btn waves-effect waves-light red" href="/">Annuler</a>
                            {{error | default('')}}
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        </form>
    </div>
{% endblock %}
