body, html{
    height: 100%;

}

.dropdown a {
    text-decoration: none;
}

.alert {
    margin-top: 25px !important;
}

.to-scroll {
    max-height: 400px;
    overflow-y: scroll;
}

.red {
	background-color:rgba(255, 17, 45, 0.5) !important;
}
.yellow {
	background-color:rgba(255, 235, 59, 0.8) !important;
}
.green {
	background-color:rgba(0, 255, 33, 0.5) !important;
}