{% extends 'project_frame.html.twig' %}

{% block title %}Liste des tests{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title mb-4">Tests : </h3>
                <a class="btn btn-primary mt-3" title="Ajouter un test" href="{{ path('createTest', {'id_project' : project.id}) }}" style="margin-bottom:10px;">
                    <img src="{{ asset('build/images/add.svg') }}" style="max-width: 30px; filter: invert(1);">
                </a>
                
                {% include 'test/test_list_frag.html.twig' %}
               
            </div>
        </div>
    </div>

    {% include 'test/test_stat.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('testList') }}
{% endblock %}
