<header>
    <nav class="cyan darken-4">
        <div class="nav-wrapper" >
            {% if pseudo is defined %}  
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="#">Connecté en tant que {{pseudo | default('')}}</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/logout">Se déconnecter</a></li>
            </ul>
            {% else %} 
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/login">Se connecté</a></li>
                <li><a href="/register">Créer un compte</a></li>
            </ul>
            {% endif %} 
        </div>
    </nav> 
</header>