<header>
    <nav class="black darken-4">
        <div class="nav-wrapper" >
            <a href="" class="brand-logo">Connecté en tant que {{pseudo | default('')}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="logout" class="right">Se déconnecter</a></li>
            </ul>
        </div>
    </nav> 
</header>