{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    {% include 'app_header.html.twig' with  {'foo': 'bar'} %}

    <nav class="cyan darken-4">
        <div class="nav-wrapper" >
            <a href="" class="brand-logo">Gestion de projets</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="new_project">créer nouveau projet</a></li>
            </ul>
        </div>
    </nav>   
    
    {% include 'project/dashboard.html.twig' with  {'foo': 'bar'} %}

{% endblock %}

