{% extends   "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

{% if projects %}    
    {% for project in projects %}
        <li><b>{{ project.getNAME() }}</b> / Description :{{ project.getDESCRIPTION() }} </li>
    {% endfor %}
{% else %}
    <p> Vous n'avez pour l'instant aucun projet.
        <a href="new_project" class="button">En créer un dès maintenant</a>
    </p>
{% endif %}

{% endblock %}

