<div id="project-member-container" style="margin-top:10%;">
        <div class="col sm-6" >
            <div class="card">
                <div class="card-body">
                    <p style="display:inline-block;" class="card-title"><h5>Liste des membres</h5></p>
                         {% if members is not empty %}
                                 {% for member in members %}
                    <div class="list-group">

                    <a href="mailto:{{ member.emailAddress }}" class="list-group-item list-group-item-action"><b>   {{ member.name }}</b>

                    </a>
                    <a href="{{ path('deleteMember', {'projectId': project.id, 'memberId': member.id}) }}"
                        class="list-group-item list-group-item-secondary">&times;</a>
                </div>

        {% endfor %}

    {% else %}

        <div class="list-group-item list-group-item-action">Aucun collaborateur</div>
    {% endif %}
                    <p style="display:inline-block;" class="card-text"><h5>Inviter un membre</h5></p>
        <form action="{{ path('inviteToProject', {'id': project.id}) }}" method="POST">
            <div class="form-group">
            <input type="email" class="form-control"  placeholder="Inviter un membre" name="memberEmail">
            </div>
            <button type="submit" class="btn btn-primary">Inviter ce membre</button>

        </form>
                </div>
            </div>
        </div>
    </div>
